//
   Start of footer 
table.footer.devicewidth(width='600', align='center', cellspacing='0', cellpadding='0', border='0', style='border-collapse: collapse; background-color: #FFF;')
  tr
    td(width='600', align='center', cellspacing='0', cellpadding='0', border='0', style='padding: 20px 0;')
      table(align='center', style='border-collapse: collapse; width: 80%;')
        tbody
          tr
            td(style='padding: 0 0 10px;')
              table(align='center', style='border-collapse: collapse;')
                tbody
                  tr
                    td(height='36', width='36', style='padding: 0 10px 0 0;')
                      a(href='#')
                        img(height='36', width='36', src='img/fb-36x36.jpg', alt='')
                    td(height='36', width='36', style='padding: 0 10px 0 0;')
                      a(href='#')
                        img(height='36', width='36', src='img/tw-36x36.jpg', alt='')
                    td(height='36', width='36')
                      a(href='#')
                        img(height='34', width='34', src='img/yt-36x36.jpg', alt='')
          tr
            td(style='padding: 0 0 10px; font: 14px/20px \'Roboto\', Helvetica,arial,sans-serif; color: #333; text-align: center;', valign='top')
              a.font2(href='http://ntd42.tripolis.com/public/r/j+vRCgU+ylCtv3B0IefLFg/hWim8WxqCMI1IZF+PdsKKA/TK1ET_mWKYTsfhGMZ8cs5w', target='_blank', title='website', style='text-decoration: none; padding: 0 5px; font: 13px/18px \'Roboto\', Helvetica,arial,sans-serif; color: #333;')
                span(style='color: #333;') Hanos.nl
              | |
              a.font2(href='http://ntd42.tripolis.com/public/r/fFZCtsz5atfirjLtmG7r7Q/hWim8WxqCMI1IZF+PdsKKA/TK1ET_mWKYTsfhGMZ8cs5w', target='_blank', title='contact', style='text-decoration: none; padding: 0 5px; font: 13px/18px \'Roboto\', Helvetica,arial,sans-serif; color: #333;')
                span(style='color: #333;') Contact
              | |
              a.font2(href='#', target='_blank', title='Gegevens wijzigen', style='text-decoration: none; padding: 0 5px; font: 13px/18px \'Roboto\', Helvetica,arial,sans-serif; color: #333;')
                span(style='color: #333;') Afmelden
          tr
            td.font2(style='padding: 0; font: 12px/17px \'Roboto\', Helvetica,arial,sans-serif; color: #999; text-align: center;', valign='top')
              | U ontvangt deze nieuwsbrief op
              a(href='#', style='color: #666; text-decoration: none;')
                span(style='font-weight: normal;')
                  | ${contact.email!}
              | omdat u klant bent van HANOS en ingeschreven staat voor onze
              a(href='#', target='_blank', title='Gegevens wijzigen', style='color: #666; font-weight: normal; text-decoration: none;') Vestigingsmail
          tr
            td(style='padding: 20px 0 0;', valign='top', align='center')
              a(target='_blank', href='${logo_url}', title='${logo_image_alt!}')
                img(src='${footer_logo_image.url!}', alt='${logo_image_alt!}', border='0', width='${footer_logo_image.width}', height='${footer_logo_image.height}', style='display: block; border: none; outline: none; text-decoration: none; text-align: center;')
//
   End of footer 


//- //
//-    Start of footer 
//- table.footer.devicewidth
//-   tr
//-     td
//-       table.row.inner
//-           tr
//-             td
//-               table.social
//-                 tr
//-                   td.fb.right-text-pad
//-                     a(href='#')
//-                       img(src='img/fb-36x36.jpg', alt='')
//-                   td.tw.right-text-pad
//-                     a(href='#')
//-                       img(src='img/tw-36x36.jpg', alt='')
//-                   td.yt
//-                     a(href='#')
//-                       img(src='img/yt-36x36.jpg', alt='')
//-           tr
//-             td
//-               table.flinks
//-                 tr
//-                   td.font2
//-                     a(href='http://ntd42.tripolis.com/public/r/j+vRCgU+ylCtv3B0IefLFg/hWim8WxqCMI1IZF+PdsKKA/TK1ET_mWKYTsfhGMZ8cs5w', target='_blank', title='website')
//-                       span Hanos.nl
//-                     | |
//-                     a(href='http://ntd42.tripolis.com/public/r/fFZCtsz5atfirjLtmG7r7Q/hWim8WxqCMI1IZF+PdsKKA/TK1ET_mWKYTsfhGMZ8cs5w', target='_blank', title='contact')
//-                       span Contact
//-                     | |
//-                     a(href='#', target='_blank', title='Gegevens wijzigen')
//-                       span Afmelden
//-           tr
//-             td
//-               table.subscription
//-                 tr
//-                   td.font2
//-                     | U ontvangt deze nieuwsbrief op 
//-                     a(href='#')
//-                       span
//-                       | ronaldkonjer@gmail.com 
//-                     | omdat u klant bent van HANOS en ingeschreven staat voor onze 
//-                     a(href='#', target='_blank', title='Gegevens wijzigen') Vestigingsmail
//-           tr
//-             td
//-               table.logo_country
//-                 tr
//-                   td
//-                     a(target='_blank', href='${logo_url}', title='${logo_image_alt!}')
//-                       img(src='${footer_logo_image.url!}', alt='${logo_image_alt!}', border='0', width='${footer_logo_image.width}', height='${footer_logo_image.height}')
//- //
//-    End of footer 