//
   Start header 
table.header.devicewidth
  td.wrapper(align="center")
    table.row
      tr
        td.block_logo(align="left")
          a(target='_blank', href='${logo_url}', title='${logo_image_alt!}')
            img(src='${logo_image.url!}', alt='${logo_image_alt!}', border='0', width='${logo_image.width}', height='${logo_image.height}')
        td.block_right.font2.right-text-pad(align="right", valign="middle")
          | ${editie_datum!} 
          //
             Looptijd: 12 t/m 13 oktober 2014 
//
   End header 