//
   Start of footer 
table.footer.devicewidth
  tr
    td
      table.row.inner
          tr
            td
              table.social
                tr
                  td.fb.right-text-pad
                    a(href='#')
                      img(src='img/fb-36x36.jpg', alt='')
                  td.tw.right-text-pad
                    a(href='#')
                      img(src='img/tw-36x36.jpg', alt='')
                  td.yt
                    a(href='#')
                      img(src='img/yt-36x36.jpg', alt='')
          tr
            td
              table.flinks
                tr
                  td.font2
                    a(href='http://ntd42.tripolis.com/public/r/j+vRCgU+ylCtv3B0IefLFg/hWim8WxqCMI1IZF+PdsKKA/TK1ET_mWKYTsfhGMZ8cs5w', target='_blank', title='website')
                      span Hanos.nl
                    | |
                    a(href='http://ntd42.tripolis.com/public/r/fFZCtsz5atfirjLtmG7r7Q/hWim8WxqCMI1IZF+PdsKKA/TK1ET_mWKYTsfhGMZ8cs5w', target='_blank', title='contact')
                      span Contact
                    | |
                    a(href='#', target='_blank', title='Gegevens wijzigen')
                      span Afmelden
          tr
            td
              table.subscription
                tr
                  td.font2
                    | U ontvangt deze nieuwsbrief op 
                    a(href='#')
                      span
                      | ronaldkonjer@gmail.com 
                    | omdat u klant bent van HANOS en ingeschreven staat voor onze 
                    a(href='#', target='_blank', title='Gegevens wijzigen') Vestigingsmail
          tr
            td
              table.logo_country
                tr
                  td
                    a(target='_blank', href='${logo_url}', title='${logo_image_alt!}')
                      img(src='${footer_logo_image.url!}', alt='${logo_image_alt!}', border='0', width='${footer_logo_image.width}', height='${footer_logo_image.height}')
//
   End of footer 