//
   start duitse aanbiedingen
table.devicewidth(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', align='center')
  tr
    td(width='100%')
      table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tr
                td(width='579', style='padding:10px; background-color:${titelbackgroundcolor!};')
                  table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td
                        table(align='left', border='0', cellpadding='0', cellspacing='0')
                          tr
                            td.col1title(valign='middle', height='30')
                              p.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;')
                                a(name='${action.section + article.position}', id='${article.section + article.position}')
                                |<%= data.actiemail.tripolis[0].titel %>
                    tr
                      td.devicewidth(width='100%', align='center' )
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                tr.font1(style='font: 16px/22px \'Lato\', Helvetica, Arial, sans-serif; text-align: left;')
                                  td
                                    |<%= data.actiemail.tripolis[0].artikelnummer %>
                                  td
                                    |<%= data.actiemail.tripolis[0].product %>
                                  td
                                    |<%= data.actiemail.tripolis[0].informatie %>
                                  td
                                    |<%= data.actiemail.tripolis[0].prijs %>
                                  td
                                    |<%= data.actiemail.tripolis[0].eenheid %>
                    tr
                      td.devicewidth(width='100%', align='center' )
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                tr.font1(style='font: 16px/22px \'Lato\', Helvetica, Arial, sans-serif; text-align: left;')
                                  td
                                    |<%= data.actiemail.tripolis[0].artikelnummer %>
                                  td
                                    |<%= data.actiemail.tripolis[0].product %>
                                  td
                                    |<%= data.actiemail.tripolis[0].informatie %>
                                  td
                                    |<%= data.actiemail.tripolis[0].prijs %>
                                  td
                                    |<%= data.actiemail.tripolis[0].eenheid %>

table.devicewidth(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', align='center')
  tr
    td(width='100%')
      table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tr
                td(width='579', style='padding:10px; background-color:${titelbackgroundcolor!};')
                  table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td
                        table(align='left', border='0', cellpadding='0', cellspacing='0')
                          tr
                            td.col1title(valign='middle', height='30')
                              p.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;')
                                a(name='${action.section + article.position}', id='${article.section + article.position}')
                                |<%= data.actiemail.tripolis[0].titel %>
                    tr
                      td.devicewidth(width='100%', align='center' )
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                tr.font1
                                  td
                                    |<%= data.actiemail.tripolis[0].artikelnummer %>
                                  td
                                    |<%= data.actiemail.tripolis[0].product %>
                                  td
                                    |<%= data.actiemail.tripolis[0].informatie %>
                                  td
                                    |<%= data.actiemail.tripolis[0].prijs %>
                                  td
                                    |<%= data.actiemail.tripolis[0].eenheid %>


      table.divider(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
        tr
          td(align='center', height='1', style='font-size: 1px; line-height: 1px;')
//
   end duitse aanbiedingen